.App-header {
  background-color: #d8dadd;
  min-height: 100vh;
}

.ItemListContainer {
  min-height: 100vh;
  display: block;
  flex-direction: column;
  column-count: 3;
  align-items: center;
  justify-content:center;
  padding: 20px;
}

.ItemList {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.ItemDetalle{
  border:solid;
  border-color: lightgray;
  border-style: inset;
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: rows;
  margin-bottom: 20px;
}
.ItemDetalle img {
  max-width: 350px;
  max-height: 350px;
  padding: 10px; 
}

.itemCount {
  border:solid;
  border-color: lightgray;
  border-style: inset;
  border-radius: 5px;
  margin: 20px;
  display: flex;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */